In [2]:
import pandas as pd
import numpy as np

data = {
    'category_column': ['a', 'x', 'x','x','x','c','c','c','c','c','c','c','c','c','2','2','2','2','2','2', 'e', 'e', 'e', 'e', 'e', 'e', 'e']
}
df = pd.DataFrame(data)
category_counts = df['category_column'].value_counts()
print(category_counts)

c    9
e    7
2    6
x    4
a    1
Name: category_column, dtype: int64

In [3]:
df = pd.Series(
    {
        "Bilal": 42,
        "Ayesha": 38,
        "Hadia": 39,
    }
)

df

Bilal     42
Ayesha    38
Hadia     39
dtype: int64

In [4]:
data = {
    'day': ['01/01/2017', '01/02/2017', '01/03/2017', '01/04/2017', '01/05/2017', '01/06/2017'],
    'temperature': [32, 35, 28, 24, 32, 31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}

df = pd.DataFrame.from_dict(data)
print(df)

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny
2  01/03/2017           28          2   Snow
3  01/04/2017           24          7   Snow
4  01/05/2017           32          4   Rain
5  01/06/2017           31          2  Sunny

In [5]:
custom_index = ['a', 'b', 'c', 'd', 'e', 'f']
df.index = custom_index
print(df)

          day  temperature  windspeed  event
a  01/01/2017           32          6   Rain
b  01/02/2017           35          7  Sunny
c  01/03/2017           28          2   Snow
d  01/04/2017           24          7   Snow
e  01/05/2017           32          4   Rain
f  01/06/2017           31          2  Sunny

In [6]:

df['temperature'].describe()

count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: temperature, dtype: float64

In [11]:
columns_to_read = ["First Name", "Sex", "Email", "Phone", "Job Title"]
index_columns = ["Sex", "Job Title"]
skip_rows = [1, 5]
df = pd.read_csv('people.csv', usecols=columns_to_read, skiprows=skip_rows)
df.set_index(index_columns, inplace=True)
print(df)

df.to_csv('NewPeople.csv')

                                First Name                       Email  \
Sex    Job Title
Female Phytotherapist              Phillip       bethany14@example.com
Male   Homeopath                  Kristine       bthompson@example.com
       Market researcher           Yesenia   kaitlinkaiser@example.com
       Waste management officer       Erin         tconner@example.org
Female Intelligence analyst      Katherine     conniecowan@example.com
...                                    ...                         ...
       Software engineer            Dennis         bmartin@example.org
       Barrister                     Steve       latasha46@example.net
Male   Police officer               Wesley        regina11@example.org
Female Broadcast journalist         Summer  alexiscantrell@example.org
Male   IT sales professional        Mariah       pcopeland@example.org

                                                 Phone
Sex    Job Title
Female Phytotherapist                214.112.6044x4913
Male   Homeopath                          277.609.7938
       Market researcher                  584.094.6111
       Waste management officer  001-171-649-9856x5553
Female Intelligence analyst      +1-773-151-6685x49162
...                                                ...
       Software engineer          001-095-524-2112x257
       Barrister                      001-865-478-5157
Male   Police officer               995-542-3004x76800
Female Broadcast journalist       001-273-685-6932x092
Male   IT sales professional       (341)594-6554x44657

[98 rows x 3 columns]

In [19]:

use_coloumns = [0, 3]
skip_rows = [1]   # Row 2 is skipped 
df = pd.read_excel('SampleWork.xlsx', sheet_name=0, usecols=use_coloumns, skiprows=skip_rows, header=1)

df.to_excel('NewSheet.xlsx', index=False)

In [50]:
data = {
    "Name": ["Sonia", "Bilal", "Hifza", "Kabir", "jazim"],
    "Age": [27, 24, 22, 32, 23],
    "Address": ["Lahore", "Karachi", "Sialkot", "Peshawar", "lhr"],
    "Qualification": ["Msc", "MA", "MCA", "Phd", "bsc"]
}

AICP_DF = pd.DataFrame(data)

df1 = AICP_DF[['Name', 'Qualification']]

AICP_DF['Height'] = [5.1, 6.2, 5.1, 5.2, 5.1]

AICP_DF.set_index('Name', inplace=True)

row_hifza = AICP_DF.loc['Hifza']

row_3 = AICP_DF.iloc[3]

AICP_DF.drop('Bilal', inplace=True)
AICP_DF

       Age   Address Qualification  Height
Name
Sonia   27    Lahore           Msc     5.1
Hifza   22   Sialkot           MCA     5.1
Kabir   32  Peshawar           Phd     5.2
jazim   23       lhr           bsc     5.1